streamlit
openai
pymilvus
langchain-core
langchain-milvus
langchain_community
pypdf
PyMuPDF # instead of fitz
unstructured 
markdown
langchain-openai
Pillow
pytesseract
markdown2
pdfkit
wkhtmltopdf
faiss-cpu
